:root {
    --font-main: Iosevka Aile Web, sans-serif;
    --font-secondary: Iosevka Aile Web, sans-serif;
}

time, code {
    font-family: Iosevka Web, monospace;
}

figure {
    margin-inline: 0;
}
